body 
{
	width: auto;
	background-image: url('../img/body.jpg');
}
.info
{	
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;*/
	color: white;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255,255,255,0.15);
}
.info > ul, .info > ul > li > ul
{
	list-style: none;
}
.info > ul
{
	text-align: right;
}
ul > li
{
	display: inline-block;
}
.logotipo
{
	padding-left: 15%;
}
.carrusel
{
	margin-top: 2%;
}
.color-icono-azul
{
	color: #41BCFA;
}
.color-icono-verde
{
	color: #00C000;
}
.titulo-paquetes
{
	text-align: center;
	color: green;
}
.centrado
{
	text-align: center;
}
.paquete
{
	font-size: 15px;
	font-weight: bold;
}